// fix SVG width for post images
img[src$=".svg"].wp-post-image {
    width: 100%;
    display: block;
}

@media all and ( min-width: 768px ) {
    .about {
        .entry-content img {
            max-width: 50%;
        }
    }
}
