// custom styling, specific to RCP

// center logo on checkout page
.edd-checkout .site-branding {
    margin: 0 auto;
    padding-left: 0;
}

.items-in-cart .cart-line {
	display: none;
	stroke: @cart-active-color;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}


.site-header-wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

@media only screen and ( min-width: @screen-md-min ) {

    .items-in-cart .nav-cart:hover .cart-line {
        display: block;
    }

    .items-in-cart .nav-cart:hover svg.animate #cart {
        -ms-transform: rotate(-7deg) translateX(-3px);
        -webkit-transform: rotate(-7deg) translateX(-3px);
        transform: rotate(-7deg) translateX(-3px);
    }

}

@media only screen and ( min-width: @screen-sm-min ) {

    // arrow on navigation
    .main-navigation ul ul:before {
    	top: -9px;
    	left: 14px;
    	border-width: 0 10px 10px;
    	border-color: @light-grey transparent;
    }

    .main-navigation ul ul:after {
    	top: -7px;
    	left: 1rem;
    	border-width: 0 8px 8px;
    	border-color: #fff transparent;
    }

    .main-navigation ul ul:before,
    .main-navigation ul ul:after {
        content: "";
        border-style: solid;
        position: absolute;
    }
    // end arrow navigation
}
