.features .row p {
	font-size: 1rem;
}

.features .grid-item-image {
	margin: 0 0 2rem 0;
}

.single-features .post-thumbnail,
.home .wp-post-image {
	max-width: 64px;
}

.attachment-post-thumbnail {
	width: auto;
}

.features .attachment-post-thumbnail {

}

.home .wp-post-image {
	margin-bottom: 1rem;
}

.odd .row div:first-child {
	order: 2;
}

.odd .row div {
	order: 1;
}


.page-template-list-subpages {
	h2 a {
		border-bottom: none;
	}
}
