.features .row p {
	font-size: 1rem;
}

.features .grid-item-image {
	margin: 0 0 2rem 0;
	max-width: 80px;
}

.single-features .post-thumbnail {
	max-width: 80px;
}

.home .wp-post-image {
	max-width: 80px;
	margin-bottom: 1rem;
}
