.features {
	h4 {
		margin-bottom: 0;
	}

	p {
		font-size: 1rem;
		margin-bottom: 0;
	}

	.grid-child {
		display: -webkit-flex;
		display: flex;
	}

	.grid-wrap {

		div:first-child {
			flex: 1;
			margin-right: 2rem;
			margin-bottom: 1rem;
		}

		padding: 0;
	}
}


// Small Devices, Tablets
@media only screen and ( min-width : 768px ) {

	.features .grid-wrap {
		padding: 2rem;
	}

}


// Large Devices, Wide Screens
@media only screen and ( min-width : 1200px ) {

	.features .grid-wrap {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row;
		flex-flow: row;
	}

	.features .grid-wrap div:first-child {
		align-self: center;
		text-align: center;
	}

	.features .grid-wrap div:last-child {
		max-width: 75%;
	}

}
