.site-footer {
    position: relative;

    a {
        font-size: 1rem;
        border-bottom: none;
    }

    form.mailing-list {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;

        // -webkit-justify-content: space-between;
        // justify-content: space-between;
    }

    .gform_body {
    //    flex: 2;
//        flex: 1 0 1rem;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;

    }

    .gform_footer {
//        flex: 1;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    input {
        border-color: darken( #EDD3F2, 5% );
        font-size: 0.875rem;
        width: 100%;


        -webkit-appearance: none; // prevent the dropshadow on input field
        border-radius: 0; // prevent rounded corners in iOS

    }

    .footer-links {
        margin-bottom: 4rem;
        max-width: 980px;
    }

    // #sign-up .wrapper {
    //     margin: 0;
    //     padding: 2rem;
    // }

    // mailchimp sign up form
    #sign-up {
        position: relative;
        background: #EDD3F2;
        background: @secondary-color;
        margin: 0 auto;
        padding: 2rem;

        input {
            border: none;
        }
        h3 {
            font-weight: 500;
        }

        h3, p {
//            color: #2C886B;
            color: #6F94C1;
        }

        p {
            font-size: 1rem;
            margin-top: 1rem;
            margin-bottom: 0;
        //    max-width: 400px;
        }
    }

//     .grid-child:nth-child(2) {
//         position: relative;
//
//         h3 {
//             font-weight: 500;
//         }
//
//         h3, p {
// //            color: #2C886B;
//             color: #AD85B1;
//         }
//
//         section {
// //            background: @light-grey;
//         //    background: #D8F5DF;
//             background: #EDD3F2;
//         //    padding: 4rem;
//         //    margin: 0 -2rem 0 -2rem;
//         //    margin: 0 -2rem 0 -4rem;
//             margin: 0;
//         }
//
//
//     }

}

.site-info {
    padding: 4rem 0;
}

@media only screen and ( min-width : 992px ) {
    .site-footer #sign-up {
        max-width: 600px;
    }

   form.mailing-list {
       max-width: 84%;
   }

   #mascot {
       position: absolute;
       bottom: -3rem;
       left: 85%;
       display: block;
       width: 200px;
   }


}

@media only screen and ( min-width : 480px ) {
    .site-footer .gform_body input {
        border-right: none;
    }
}
