// simple grid styling for use with the list subpages page template

.grid {
  border: 2px solid @light-grey;
  border-right: none;
  border-bottom: none;
}

.grid-item,
.edd_download {
  display: -webkit-flex;
  display: flex;
  padding: 0;
}

.grid-item-inner {
  padding: 1.5rem;


}

.grid-item-content > a {
    display: block;
}

.grid-item-inner,
.edd_download_inner {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.edd_download_inner footer,
.grid-item-inner footer {
    margin: auto 0 0;
}

.grid-item-inner p {
  font-size: 1rem;
}

.grid-title a {
  border: none;
}

.grid-item-image {
  margin: 0 0 2rem 0;
}

.grid-item-inner {
  border-right: 2px solid @light-grey;
  border-bottom: 2px solid @light-grey;
}

// Small Devices, Tablets
@media only screen and ( min-width: @screen-sm-min ) {

    // .grid-item-inner,
    // .edd_download_inner {
    //   padding: 1.5rem;
    // }

}
