// custom styles for the homepage

.hero h1 {
	font-weight: 600;
	line-height: 1.1;
	color: #373737;
}

#vault {
    display: none;
    width: 100%;
}

section.feature {
	background: @light-grey;
}

@media only screen and ( min-width: @screen-md-min ) {

    #vault {
        display: block;
    }

}
