
#mascot {
	display: none;
}

#mascot-group {
    position: relative;
}

#mascot-body {
	width: 200px;
	height: 308px;
	background: url( 'images/mascot-green.png' ) 0 0 no-repeat;
	background-size: 200px 308px;
    position: relative;
    z-index: 3;
}

#mascot-wing {
    position: absolute;
    top: 152px;
    right: 0;
    z-index: 2;
	width: 56px;
	height: 38px;
	background: url( 'images/mascot-wing-green.png' ) 0 0 no-repeat;
	background-size: 56px 38px;

	-webkit-transform-origin: center left;
	transform-origin: center left;

	// -webkit-transform: skewX(0);
	// -webkit-transform-origin: 0 50%;
	// transform-origin: 50%;


}

#mascot-shadow {
    margin-top: -23px;
    transition: opacity 0.5s ease-out;
}

#mascot-animate {

	top: 0;
	transform: translateY(0);

    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

	position: relative;
}

.site-footer:hover #mascot-shadow {
    opacity: 0.5;
}

.site-footer:hover #mascot-animate {
	// -webkit-transition: all 0.5s ease-out;
	// transition: all 0.5s ease-out;

	// alternate
	-webkit-transform: translateY(-50px) rotate(-5deg);
	transform: translateY(-50px) rotate(-5deg);




    -webkit-animation-name: fly;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -ms-animation-name: fly;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: fly;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;




}

.site-footer:hover #mascot-wing {
    -webkit-animation-name: flap;
    -webkit-animation-duration: 20ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -ms-animation-name: flap;
    -ms-animation-duration: 20ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: flap;
    animation-duration: 20ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@-webkit-keyframes fly {

    0% {
		top: 0;
	//	-webkit-transform-origin: center left;
    }

    50% {
		top: -10px;
	//	-webkit-transform-origin: center left;
    }

    100% {
		top: 0;
	//	-webkit-transform-origin: center left;
    }

}

@keyframes fly {

    0% {
		top: 0;
    }

    50% {
		top: -10px;
    }

    100% {
		top: 0;
    }

}




















@-webkit-keyframes flap {

	// -webkit-transform: skewY(-30deg);
	// top: 146px;

	// -webkit-transform: skewY(30deg);
	// top: 166px;



    25% {
		-webkit-transform: skewY(30deg);
	//	transform: skewY(30deg);



	// -webkit-transform-origin: center left;


//		right: 7px;
		top: 162px;
    }


    75% {
		-webkit-transform: skewY(-30deg);


	//	-webkit-transform-origin: center left;
	//	transform: skewY(-30deg);
	//	right: 20px;
		top: 162px;
    }



}

@keyframes flap {

    0% {

    }

    25% {
		-webkit-transform: skewY(30deg);
		transform: skewY(30deg);

	//	right: 7px;
		top: 162px;
    }

    50% {

    }

    75% {
		-webkit-transform: skewY(-30deg);
		transform: skewY(-30deg);
	//	right: 0;
		top: 162px;
    }

    100% {

    }

}
