.pricing-faq {
	margin: 0 -2rem;
}

.pricing-faq .grid-wrap {
	margin: 0;
	padding: 2rem;
}

#page .pricing-table {
	margin-bottom: 4rem;
}

.page-template-pricing .entry-header {
	text-align: center;
}

.pricing-table .trustedd-notice {
	max-width: 720px;
}

// add external icon to pricing button
a.external {
	display: -webkit-flex;
    display: flex;

	.icon-external {
		margin-left: 0.5rem;
	}
}
