.page-template-pricing .entry-header {
	text-align: center;
}

.pricing-table .trustedd-notice {
	max-width: 720px;
}

.pricing-footer .text {
	vertical-align: middle;
}

.pricing-footer object {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-left: 0.25rem;
	pointer-events: none;
}

// add external icon to pricing button
a.external {
	.icon-external {
		margin-left: 0.5rem;
	}
}
