// example on just importing the styles from the parent theme
//@import url('../rcp-parent-theme/style.css');

// we want to override the variables and compile our own colos like this
@import '../rcp-parent-theme/less/variables';
@import '../rcp-parent-theme/less/common-imports';

// blue
@primary-color: #2a76d2;

// lighter blue
@secondary-color: #CFE0F4;

// green
//@accent-color: #84C876;


@link-hover-color: @primary-color;


@background-color: #e6eaec;

#logo path {
	fill: #2A76D2;
}

body {
	font-family: 'Graphik Web', Helvetica, Arial, Verdana, sans-serif;
}

.site-branding {
	display: -webkit-flex;
    display: flex;

	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

#logo {
	padding-right: 1rem;
}

// Small Devices, Tablets
@media only screen and ( min-width : 768px ) {
	#content {
		padding-bottom: 8rem;
	}
}

// fonts
@import 'fonts';

// typography
@import 'typography';

// pricing tables
@import 'pricing';

// homepage styling
@import 'home';

// styles for features
@import 'features';

// styles for testimonials
@import 'testimonials';

// styles for gravity forms
@import 'gravity-forms';

// styles for pages
@import 'custom-pages';

@import 'mascot';

@import 'footer';


@import 'magnific-popup';
@import 'magnific-custom';

@import 'notices';

@import 'ab-test';
