.site-title, h1, h2, h3, h4, h5, h6 {
	font-family: 'Graphik Web', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

h1, h2 {
	font-weight: 300;
}

.entry-subtitle {
	font-weight: 200;
//	margin-top: 0.25rem;
	display: inline-block;
}


// adjust feature headers
.feature h4 {
	font-weight: 500;
}

figcaption {
	font-style: italic;
	font-weight: 400;
}

.main-navigation a {
	font-weight: 500;
	font-size: 1.2rem;
}

.site-title {
	font-size: 1.2rem;
	font-weight: 500;
	display: none;
}

@media all and ( min-width: 768px ) {
    .site-title {
		display: block;
	}
}
