h1, h2, h3, h4, h5, h6 {
	font-family: 'Graphik Web', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

// adjust feature headers
.feature h4 {
	font-weight: 500;
}

figcaption {
	font-style: italic;
	font-weight: 400;
}

.main-navigation a {
	font-weight: 500;
	font-size: 1.2rem;
}
