// blue
@primary-color: #2a76d2;

// lighter blue
@secondary-color: #CFE0F4;

// green
//@accent-color: #84C876;


@link-hover-color: @primary-color;

//@nav-sub-hover-color: @primary-color;
@nav-sub-active-color: @primary-color;
@nav-sub-font-size: 0.875rem;
@background-color: #e6eaec;

// cart icons
@cart-color: @nav-color;
@cart-hover-color: @nav-hover-color;
@cart-active-color: #65bc53;
